.header{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h1{
    color: black;
}

a{
    color:  black;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}